{{ define "main" }}
<div class="row">
  {{- partial "blogsidebar" (dict "context" . "highlight" .Permalink "year" (.Date.Format "2006")) -}}
  <div class="col-md-8 col-sm-12 blogpost">
    {{ if .Params.opinion}}
      <div class="opinion__header">
        <div class="opinion__header-label">Opinion</div>
        <div class="opinion__header-author">GovCERT.ch</div>
      </div>
    {{end}}
    <h1>{{.Title}}</h1>
    <p>
      <small class="hidden-print">
        {{ if .Params.opinion}}
          <div class="opinion__sub">
            <div class="opinion__sub-date">
              {{.Date.Format "January 2, 2006"}} 
            </div>
          </div> 
        {{ else }}
          <span class="text-dimmed">
            Published on {{.Date.Format "January 2, 2006 15:04 MST"}} by GovCERT.ch <a href="{{ .Permalink }}" target="_parent">(permalink)</a>
            {{ if .Params.lastmod }}
              </br> Last updated on {{dateFormat "January 2, 2006 15:04 MST" .Params.lastmod}}
            {{ end }}
          </span>
        {{ end }}
      </small>
    </p>
    {{.Content}}
    <p><small class="hidden-print"><a href="#" class="icon icon--before icon--power">Back to top</a></small></p>
  </div>
</div>
{{ end }}