<footer>
	<h2 class="sr-only">Footer</h2>

  <!-- End of Site-map -->
  <div class="container-fluid">
    <hr class="footer-line visible-xs">
    <img width="224" height="56" class="visible-xs" src="/styleguide/build/img/logo-CH.svg"
      onerror="this.onerror=null; this.src='../../img/logo-CH.png'" alt="back to home">
			<nav class="links-social" aria-labelledby="social_media">
				<label id="social_media" class="sr-only">Social media links</label>
				<ul>
						<li><a href="https://twitter.com/GOVCERT_CH" class="icon icon--before  icon icon--before icon--twitter" title="Twitter">Twitter</a></li>
				</ul>
			</nav>
  </div>
  <address>
    <span class="hidden-xs">Swiss Government Computer Emergency Response Team (GovCERT.ch)</span>
    <nav class="pull-right">
      <ul>
        <li><a href="https://www.admin.ch/gov/en/start/terms-and-conditions.html">Legal Framework</a></li>
      </ul>
    </nav>
  </address>
</footer>
