<div class="clearfix">
  <!-- Standard Bootstrap `navbar` structure with the `treecrumb` class -->
  <nav class="navbar treecrumb pull-left" role="navigation">
    <h2 class="sr-only">Orientation in the website</h2>
    <ul class="nav navbar-nav">
      <!-- Treecrumb dropdown element -->
      <li class="dropdown">
        <!-- Dropdown label -->
        <a id="admin-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown"><span
            class="icon icon--right"></span>The Federal Council</a>
        <!-- Dropdown list element -->
        <ul class="dropdown-menu" role="menu" aria-labelledby="admin-dropdown">
          <!-- Dropdown title, can ben place anywhere in the list -->
          <li class="dropdown-header">
            <a href="#">The federal Council</a>
            <ul>
              <li><a href="http://www.bk.admin.ch/index.html?lang=en" role="menuitem" tabindex="-1">
                  FCh: Federal Chancellery</a></li>
              <li><a href="http://www.eda.admin.ch/eda/en/home.html" role="menuitem" tabindex="-1">
                  FDFA: Federal Department of Foreign Affairs</a></li>
              <li><a href="https://www.edi.admin.ch/edi/en/home.html" role="menuitem" tabindex="-1">
                  FDHA: Federal Department of Home Affairs</a></li>
              <li><a href="http://www.ejpd.admin.ch/content/ejpd/en/home.html" role="menuitem"
                  tabindex="-1"> FDJP: Federal Department of Justice and Police</a>
              </li>
              <li><a href="http://www.vbs.admin.ch/en/home.html" role="menuitem"
                  tabindex="-1"> DDPS: Federal Department of Defence Civil Protection
                  and Sport</a></li>
              <li><a href="https://www.efd.admin.ch/efd/en/home.html" role="menuitem" tabindex="-1">
                  FDF: Federal Department of Finance</a></li>
              <li><a href="https://www.wbf.admin.ch/wbf/en/home.html" role="menuitem" tabindex="-1">
                  EAER: Federal Department of Economic Affairs, Education and
                  Research</a></li>
              <li><a href="https://www.uvek.admin.ch/uvek/en/home.html" role="menuitem" tabindex="-1">
                  DETEC: Federal Department of the Environment, Transport, Energy and
                  Communications</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="https://www.ncsc.admin.ch/melani/en/home.html" id="service-dropdown" class="dropdown-toggle"><span
            class="icon icon--right"></span>NCSC</a>
      </li>
      <li class="dropdown">
        <a href="#" id="service-dropdown" class="dropdown-toggle"><span class="icon icon--right"></span>GovCERT.ch</a>
      </li>
    </ul>
  </nav>
  <section class="nav-services clearfix">
    <h2 class="sr-only">Language selection</h2>
    <nav class="nav-lang">
      <ul>
        <li><a href="#" lang="en" title="English selected" aria-label="English selected" class="active">EN</a></a></li>
      </ul>
    </nav>
    <nav class="nav-service" role="navigation">
      <h2 class="sr-only">Services navigation</h2>
      <ul>
        <li><a href="/report/">Contact</a></li>
        <li><a href="https://www.admin.ch/gov/en/start/terms-and-conditions.html">Legal Framework</a></li>
      </ul>
    </nav>
  </section>
</div>
<div class="clearfix">
  <a href="#" class="brand hidden-xs" title="back to home">
    <img width="224" height="56" src="/assets/img/logo-CH.svg" alt="back to home" />
    <h1>Swiss Government Computer Emergency Response Team</h1>
  </a>
</div>
